@import "../../../myapp/static/css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header{
    padding-top: 20px;
    background-color: white;
}


.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}

.logo{
    position: relative;
    padding: 0 12px 3px 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}

.logo::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: aquamarine;
    border-radius: 50%;
}

/Навигация/



ul.nav_list {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    font-weight: 500;
    font-size: 50px;
}
ul.nav_list li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */

}

.nav-link{
    color: #2A2B2B;
    mix-blend-mode: multiply;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    transition: opacity 0.2s ease-in;

}

.nav-link.active_a{
    color: #606060;
}


.nav-link:active{

    position: relative;
    top: 1px;
}

.nav-link:hover{
    opacity: 0.8;
}