<!DOCTYPE html>
{% load static %}
<html lang="ru-RU" class="js">
<head>
    <link rel="icon" href="{% static 'images/icon.png'%}">
    <meta charset="UTF-8">
    <title>SMI;)LE</title>
    <link href="/css/bootstrap.min.css" rel="style">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/classesStyle.css'%}" type="text/css">
</head>
<body >
    <header class="header">
        <div class="container">
            <!--Блок с навигацией-->
            <div class=" header-nav">
                <a href="#!" class="logo"> Sm;)le </a>
                <nav class="nav">
                    <ul class="nav_list">
                        <li class="nav-item"><a href="#!" class="nav-link">Главная</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link active">Классы</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link">Цены</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link">О нас</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link">Контакты</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="clasContainer">
        <div class="text_clasContainer">
            <h1 class="text_clasContainer_1"><span style="color: #6BE6C8">Силовые</span> тренировки</h1>
            <p class="text_clasContainer_2">Основной принцип силовых тренировок – это физическая нагрузка на определенные группы мышц с использованием различного отягощения</p>
        </div>

        <div class="clasContainer_header">
            <div class="blok">
                <div class="tri_1">
                    <div class="blok-1">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/1.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#!"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-2">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/3.jpg'%}">
                              <h1 class="text-blok1">BUMS + ABS</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                                <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-3">
                          <div class="text_blok">
                              <img   src="{% static 'images/classesimg/2.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>
                </div>

                <div class="text_clasContainer">
                    <h1 class="text_clasContainer_1"><span style="color: #6BE6C8">Функциональные </span> тренировки</h1>
                    <p class="text_clasContainer_2">Это высокоинтенсивные тренировки, упражнения в которых часто напоминают движения из жизни</p>
                    <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                </div>

                <div class="tri_2">
                    <div class="blok-1">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/4.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-2">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/5.jpg'%}">
                              <h1 class="text-blok1">BUMS + ABS</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-3">
                          <div class="text_blok">
                              <img   src="{% static 'images/classesimg/6.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>
                </div>

                <div class="text_clasContainer">
                    <h1 class="text_clasContainer_1"><span style="color: #6BE6C8">Body </span> & Mind</h1>
                    <p class="text_clasContainer_2"> Тренировки с мягкой нагрузкой, поэтому они подходят для любого уровня подготовки, отличный вариант для начинающих и для девушек, которым противопоказаны кардио и силовые нагрузки. Направления Bidy&Mind придают тонус и грацию, улучшают осанку и гибкость</p>
                </div>

                <div class="tri_3">
                    <div class="blok-1">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/7.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-2">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/8.jpg'%}">
                              <h1 class="text-blok1">BUMS + ABS</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-3">
                          <div class="text_blok">
                              <img   src="{% static 'images/classesimg/9.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 50 мин</p>
                              <a class="button" href="#regform"><p class="text-blok_1_1" >Подробнее</p></a>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
</html>