<!DOCTYPE html>
{% load static %}
<html lang="ru-RU" class="js">
<head>
    <link rel="icon" href="{% static 'images/icon.png'%}">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/bootstrap.min.css" rel="style">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/classesStyle.css'%}" type="text/css">
</head>
<body >
    <header class="header">
        <div class="container">
            <!--Блок с навигацией-->
            <div class=" header-nav">
                <label for="nav-toggle" class="nav-toggle" onclick></label>

                <input type="checkbox" id="nav-toggle" hidden>
                <h2 class="logo">
                    <a href="/index/" > Sm;)le </a>
                </h2>
                <nav class="nav">

                        <ul class="nav_list">


                                <li class="nav-item"><a href="/index/" class="nav-link active">Главная</a> </li>
                                <li class="nav-item"><a href="/classes/" class="nav-link">Классы</a> </li>
                                <li class="nav-item"><a href="/prices/" class="nav-link">Цены</a> </li>
                                <li class="nav-item"><a href="/o_nas/" class="nav-link">О нас</a> </li>
                                <li class="nav-item"><a href="/raspisanie/" class="nav-link">Расписание</a> </li>
                                <li class="nav-item"><a href="/reviews/" class="nav-link">Отзывы</a> </li>
                                <li class="nav-item"><a href="/kontact/" class="nav-link">Контакты</a> </li>

                        </ul>

                </nav>
            </div>
        </div>
    </header>

 <div class="clasContainer">
        <div class="text_clasContainer">
            <h1 class="text_clasContainer_1"><span style="color: #6BE6C8">Силовые</span> тренировки</h1>
            <p class="text_clasContainer_2">Основной принцип силовых тренировок – это физическая нагрузка на определенные группы мышц с использованием различного отягощения</p>
        </div>

        <div class="clasContainer_header">
            <div class="blok">
                <div class="tri_1">
                    <div class="blok-1">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/1.jpg'%}">
                              <h1 class="text-blok1">BODY SCULPT</h1>
                              <p class="text-blok2" >Длительность: 55 - 60 мин</p>
                              <a class="js-open-modal" href="#" data-modal="1">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="1">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">BODY SCULPT</p>
                                <p class="modal__title_1">В процессе тренировки постепенно нагружаются все мышцы тела с помощью различного спортивного снаряжения. Благодаря выполнению упражнений без длительных перерывов и активности всех мышечных групп сжигается много калорий, ликвидируются явления целлюлита и лишнего жира. Увеличивается общая выносливость и трудоспособность, улучшается циркуляция крови и обмен веществ, устанавливается баланс гормонов.
                                    <br>
                                    Благодаря регулярным тренировкам значительно возрастает гибкость всего тела, укрепляются суставы и связочный аппарат.
                                    <br>
                                    Любая девушка, достигшая 18-летнего возраста, может заниматься по этой системе вне зависимости от исходного уровня физической подготовки.</p>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>


                    <div class="blok-2">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/3.jpg'%}">
                              <h1 class="text-blok1">BUMS + ABS</h1>
                              <p class="text-blok2" >Длительность: 55 - 60 мин</p>
                              <a class="js-open-modal" href="#" data-modal="2">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="2">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">BUMS + ABS</p>
                                <p class="modal__title_1">ABS расшифровывается как Abdominal Back Spine, что в переводе с английского означает «спина и брюшная полость». Данные мышечные группы отлично сочетаются в одной тренировке, так как спина и пресс связанны друг с другом.
                                    <br>
                                    Особенностью направления BUMS+ABS является то, что к тренировке верхней части тела ABS добавляются еще и ягодицы. Это в совокупности формирует одно из самых востребованных групповых направлений среди женщин.
                                    <br>
                                    Эта силовая тренировка, благодаря которой можно не только сбросить лишний вес, но и укрепить здоровье и подкачать тело, что поможет избавить кожу от дряблости, сделав упругой и красивой.
                                    <br>
                                    Во время занятий используется дополнительный инвентарь, такой как гантели, гири, бодибары, фитбол, фитнес-резинки.
                                    Уровень подготовленности – любой, так можно регулировать нагрузку за счет взятия разных утяжелителей или выполнять упражнения вообще без весов.
                                </p>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                                <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-3">
                          <div class="text_blok">
                              <img   src="{% static 'images/classesimg/2.jpg'%}">
                              <h1 class="text-blok1">LOWER BODY</h1>
                              <p class="text-blok2" >Длительность: 55 мин</p>
                                <a class="js-open-modal" href="#" data-modal="3">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="3">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">LOWER BODY</p>
                                <p class="modal__title_1">Силовая тренировка, в которой работаем над укреплением мышц ног, ягодиц, низа спины и пресса с использованием оборудования - гантелей, бодибаров, степ платформ, фитболов, а также без оборудования.
                                    <br>
                                    Эффективность данного вида нагрузки:<br>
                                    ·        Способствует формированию красивой округлой формы ягодиц<br>
                                    ·        Подтягивает бедра, выравнивает их форму<br>
                                    ·        Убирает дряблость на внутренней части бедра, устраняя эффект «холодца» между ног <br>
                                    ·        Тонизирует весь организм и способствует усиленной работе сердечно-сосудистой системы <br>

                                    Система Lower Body может стать источником жиросжигания. Так как работа производится под тяжестью собственно тела или с небольшим утяжелением, мышечная масса не растет, но потребляет большое количество энергии. Таким образом, сочетание лоу боди и дефицита калорий будет основным инструментом для похудения.
                                    <br>
                                    Уровень подготовки – любой.
                                   </p>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>
                </div>

                <div class="text_clasContainer">
                    <h1 class="text_clasContainer_1"><span style="color: #6BE6C8">Функциональные </span> тренировки</h1>
                    <p class="text_clasContainer_2">Это высокоинтенсивные тренировки, упражнения в которых часто напоминают движения из жизни</p>
                    <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                </div>

                <div class="tri_2">

                    <div class="blok-1">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/4.jpg'%}">
                              <h1 class="text-blok1">TRAINING</h1>
                              <p class="text-blok2" >Длительность: 45 - 55 мин</p>
                                <a class="js-open-modal" href="#" data-modal="4">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="4">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">FUNCTIONAL TRAINING</p>
                                <p class="modal__title_1">Уникальное направление фитнес программ, позволяющее добиться хорошей физической формы, улучшить мышечный тонус и уменьшить объемы за относительно короткий срок.
                                    <br>Функциональный тренинг сбалансированно развивает все физические качества, необходимые в повседневной жизни. Повышает выносливость и координацию, укрепляет сердечно-сосудистую и дыхательную систему, улучшает гибкость и ловкость. Повышает настроение.
                                    <br>Разнообразие комплексов и оборудования не дают тренировкам наскучить. В тренинге используются самое различное оборудование: эспандеры, гантели и бодибары, гири, скакалки, амортизаторы, нестабильные платформы, тумбы, метболы и, конечно, собственный вес.
                                    <br>Уровень подготовки – средний и продвинутый.</p>>

                                    </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-2">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/5.jpg'%}">
                              <h1 class="text-blok1">CYCLE</h1>
                              <p class="text-blok2" >Длительность: 50 - 55 мин</p>
                                <a class="js-open-modal" href="#" data-modal="5">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="5">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">CYCLE</p>
                                <p class="modal__title_1">Cycle - это равномерная длительная тренировка на специальных сайкл-тренажёрах, которая имитирует гонки различной интенсивности на пульсе от 60 до 75 % от mах. значения пульса, направленная на сжигание калорий за счёт жирового компонента. Сжигается от 600 до 1.200 ккал/час.
                                    <br>Из кардио нагрузок Cycle наиболее оптимальное направление для людей с избыточным весом. Преимущество в том, что не создаётся такого давления на суставы как, к примеру, при занятиях на беговой дорожке.
                                    <br>Программа сайкл-тренировки составлена таким образом, что в зоне воздействия оказываются мышцы ягодиц, ног, спины и пресса, также иногда во время тренировки задействован плечевой пояс.
                                    <br>Cycle как и другие кардио-тренировки положительно влияют на сердечно-сосудистую и дыхательную системы.
                                    <br>Для всех уровней подготовленности.</p>>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-3">
                          <div class="text_blok">
                              <img   src="{% static 'images/classesimg/6.jpg'%}">
                              <h1 class="text-blok1">INTERVAL</h1>
                              <p class="text-blok2" >Длительность: 50 - 55 мин</p>
                              <a class="js-open-modal" href="#" data-modal="6">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="6">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">INTERVAL</p>
                                <p class="modal__title_1">Программа тренировок, сочетающая в себе физическую нагрузку высокой и низкой интенсивности с определенными интервалами.
                                    <br>Интервальная нагрузка способствует общему укреплению здоровья, положительно влияет на сердечно-сосудистую и дыхательную системы, повышается выносливость организма. Еще одним важным плюсом данного направления является сжигание огромного количества калорий за тренировку, в том числе и поэтому Interval считается значительно продуктивнее классических кардиотренировок.
                                    <br>Тренировка рассчитана на средний и продвинутый уровень.</p>>

                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>
                </div>

                <div class="text_clasContainer">
                    <h1 class="text_clasContainer_1"><span style="color: #6BE6C8">Body </span> & Mind</h1>
                    <p class="text_clasContainer_2"> Тренировки с мягкой нагрузкой, поэтому они подходят для любого уровня подготовки, отличный вариант для начинающих и для девушек, которым противопоказаны кардио и силовые нагрузки. Направления Bidy&Mind придают тонус и грацию, улучшают осанку и гибкость</p>
                </div>

                <div class="tri_3">
                    <div class="blok-1">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/7.jpg'%}">
                              <h1 class="text-blok1">FITNESS YOGA</h1>
                              <p class="text-blok2" >Длительность: 55 -60 мин</p>
                                <a class="js-open-modal" href="#" data-modal="7">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="7">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">FITNESS YOGA</p>
                                <p class="modal__title_1">Включает преимущества двух методик (фитнеса и йоги) и исключает их недостатки. Это направление способствует нормализации обмена веществ и повышает физические возможности, помогает развить гибкость, укрепить связки и мышцы, снизить психоэмоциональное напряжение, повысить стрессоустойчивость.
                                     <br>Направление подходит тем, кто больше любит статические упражнения, чем силовые нагрузки. Чтобы похудеть, нужно чередовать уроки с аэробными и силовыми тренировками. Статические и дыхательные упражнения способствуют расслаблению и гармонизации сознания.
                                     <br>Фитнес йога восстанавливает баланс между телом и разумом и заставляет организм работать как единое целое.
                                    Противопоказания касаются людей с диагнозами: ожирение, гипертония, запущенный остеохондроз шеи.
                                     <br>На занятия надевают дышащую одежду, занимаются без обуви.
                                    Уровень подготовленности – начальный</p>>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-2">
                          <div class="text_blok">
                              <img  src="{% static 'images/classesimg/8.jpg'%}">
                              <h1 class="text-blok1">STRETCHING</h1>
                              <p class="text-blok2" >Длительность: 55 мин</p>
                                                              <a class="js-open-modal" href="#" data-modal="8">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="8">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">STRETCHING</p>
                                <p class="modal__title_1">Растяжка несет колоссальную пользу для женского организма. При регулярных занятиях улучшается обмен веществ, все клетки организма насыщаются кислородом, приобретается красивая осанка, происходит расслабление напряженных мышц, за счет чего устраняются болевые синдромы в разных участках тела. Так же во время тренировки уделяется внимание подвижности суставов. После занятий вы чувствуете легкость и улучшение настроения.
                                    <br>
                                    Тренировка подходит для любого уровня подготовки.</p>

                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>

                    <div class="blok-3">
                          <div class="text_blok">
                              <img   src="{% static 'images/classesimg/9.jpg'%}">
                              <h1 class="text-blok1">PILATES</h1>
                              <p class="text-blok2" >Длительность: 55 мин</p>
                              <a class="js-open-modal" href="#" data-modal="9">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="9">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">PILATES</p>
                                <p class="modal__title_1">Pilates – одна из самых популярных оздоровительных программ тренировок. Основная цель этого направления – проработка всех мышц, даже самых мелких (которые, как правило, мало задействованы в повседневной жизни), увеличение эластичности связок, подвижности позвоночника и суставов.
                                    <br>
                                    Для женского организма упражнения этой методики особенно важны. Они укрепляют мышцы брюшного пресса, низа спины и малого таза, что является существенным плюсом в дородовой и послеродовой период. Каждое упражнение выполняется с особым вниманием к правильной технике дыхания и контролю брюшных мышц. Это помогает выполнять движения с максимальной мощностью и эффективностью.
                                    <br>
                                    Уровень подготовленности – любой.
                                    <br>
                                    Pilates + МФР – миофасциальный релиз или по-другому самомассаж. МФР занимает 15 мин. от всей тренировки и направлен на избавление от зажатостей и триггерных точек.
                                    Во время тренировки используются фитнесс роллы или специальные мячи.</p>

                         </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>
                              <!--<p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>-->
                         </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
<a href="#" title="Вернуться к началу страницы" class="topNubex">➱</a>
<script>
!function(e){"function"!=typeof e.matches&&(e.matches=e.msMatchesSelector||e.mozMatchesSelector||e.webkitMatchesSelector||function(e){for(var t=this,o=(t.document||t.ownerDocument).querySelectorAll(e),n=0;o[n]&&o[n]!==t;)++n;return Boolean(o[n])}),"function"!=typeof e.closest&&(e.closest=function(e){for(var t=this;t&&1===t.nodeType;){if(t.matches(e))return t;t=t.parentNode}return null})}(window.Element.prototype);


document.addEventListener('DOMContentLoaded', function() {

   /* Записываем в переменные массив элементов-кнопок и подложку.
      Подложке зададим id, чтобы не влиять на другие элементы с классом overlay*/
   var modalButtons = document.querySelectorAll('.js-open-modal'),
       overlay      = document.querySelector('.js-overlay-modal'),
       closeButtons = document.querySelectorAll('.js-modal-close');


   /* Перебираем массив кнопок */
   modalButtons.forEach(function(item){

      /* Назначаем каждой кнопке обработчик клика */
      item.addEventListener('click', function(e) {

         /* Предотвращаем стандартное действие элемента. Так как кнопку разные
            люди могут сделать по-разному. Кто-то сделает ссылку, кто-то кнопку.
            Нужно подстраховаться. */
         e.preventDefault();

         /* При каждом клике на кнопку мы будем забирать содержимое атрибута data-modal
            и будем искать модальное окно с таким же атрибутом. */
         var modalId = this.getAttribute('data-modal'),
             modalElem = document.querySelector('.modal[data-modal="' + modalId + '"]');


         /* После того как нашли нужное модальное окно, добавим классы
            подложке и окну чтобы показать их. */
         modalElem.classList.add('active');
         overlay.classList.add('active');
      }); // end click

   }); // end foreach


   closeButtons.forEach(function(item){

      item.addEventListener('click', function(e) {
         var parentModal = this.closest('.modal');

         parentModal.classList.remove('active');
         overlay.classList.remove('active');
      });

   }); // end foreach


    document.body.addEventListener('keyup', function (e) {
        var key = e.keyCode;

        if (key == 27) {

            document.querySelector('.modal.active').classList.remove('active');
            document.querySelector('.overlay').classList.remove('active');
        };
    }, false);


    overlay.addEventListener('click', function() {
        document.querySelector('.modal.active').classList.remove('active');
        this.classList.remove('active');
    });




}); // end ready
</script>
</body>
</html>