<!DOCTYPE html>
{% load static %}

<html lang="ru-RU" class="js">
<head>
    <link rel="icon" href="{% static 'images/icon.png'%}">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/bootstrap.min.css" rel="style">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body >
    <header class="header">
        <div class="container">
            <!--Блок с навигацией-->
            <div class=" header-nav">
                <a href="#!" class="logo"> Sm;)le </a>
                <nav class="nav">
                    <ul class="nav_list">
                        <li class="nav-item"><a href="/index/" class="nav-link active">Главная</a> </li>
                        <li class="nav-item"><a href="/classes/" class="nav-link">Классы</a> </li>
                        <li class="nav-item"><a href="/prices/" class="nav-link">Цены</a> </li>
                        <li class="nav-item"><a href="/o_nas/" class="nav-link">О нас</a> </li>
                        <li class="nav-item"><a href="/raspisanie/" class="nav-link">Расписание</a> </li>
                        <li class="nav-item"><a href="/kontact/" class="nav-link">Контакты</a> </li>

                    </ul>
                </nav>
            </div>
            <!--Контент в шапке-->

        </div>
        <div class="header-row" id="bg" style="background-image: url('{% static "images/indeximg/11.png"%}')";>
                <div class="header-content">
                    <p>Б О Л Ь Ш Е . Б Ы С Т Р Е Е . С И Л Ь Н Е Е </p>
                    <div class="header-heading">
                        <h1 class="header-heading1"> ФИТНЕС - СТУДИЯ <br>SMILE </h1>
                        <h1 class="header-heading2">ПОПРОБУЙТЕ БЕСПЛАТНЫЙ 3 ДНЕВНЫЙ АБОНЕМЕНТ В ТРЕНАЖЕРНЫЙ ЗАЛ</h1>

                    </div>
                    <div class="button">
                        <a class="button_1" href="#regform"> Начни сегодня </a>
                        <a class="button_2" href="#regform">Получи свой пропуск</a>
                    </div>

                </div>
    </header>


    <div class="containerHTML">
        <div class="container1">
            <a class="button_11" href="#!">Все программы</a>
            <div class="blok">
                <div class="blok-1">
                      <div class="text_blok">
                            <h1 class="text-blok1">ИНДИВИДУАЛЬНАЯ ТРЕНИРОВКА</h1>
                            <p class="text-blok2" >С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>
                     </div>
                </div>
                <div class="blok-2">
                     <div class="text_blok">
                            <h1 class="text-blok1">ИНДИВИДУАЛЬНАЯ ТРЕНИРОВКА</h1>
                            <p class="text-blok2">С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>
                     </div>
                </div>
                <div class="blok-3">
                   <div class="text_blok">
                            <h1 class="text-blok3">ИНДИВИДУАЛЬНАЯ ТРЕНИРОВКА</h1>
                            <p class="text-blok4">С другой стороны укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.</p>
                     </div>
                </div>
            </div>
        </div>

    </div>

    <div class="containerHTML1">
        <div class="container11">

            <div class="blokB">

                <a class="button_22" href="#regform">Присоединяйся сейчас</a>
                <div class="tripl">
                    <div class="tripl-1">
                        <img class="tripl1" src="{% static 'images/indeximg/триплик1.jpg'%}">
                    </div>

                    <div class="tripl-2">
                        <img class="tripl2" src="{% static 'images/indeximg/трипликс2.jpg'%}">
                    </div>

                    <div class="tripl-3">
                        <img class="tripl3" src="{% static 'images/indeximg/трипликс3.jpg'%}">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="containerHTML2">
        <div class="container22">
            <div class="blokB2">
                <h1>О Т З Ы В Ы</h1>
            </div>
        </div>
    </div>


    <div class="footer" id="regform" style="background-image: url('{% static "images/indeximg/f.png"%}')">
        <div class="container33">
            <div class="blokB3">
                <h1>ФИТНЕС - СТУДИЯ SM;)LE</h1>
            </div>
            <div class="Block">
                <div class="forma-1">
                    <div id="contact-form" class="form-border">
                        <div class="contact-message"></div>
                        <div class="contact">
                            <form class="contact_form" method="post" action="#!">
                                <p class="contact_field_1" data-id="name" data-type="input">
                                    <label for="contact_name_1" class="contact_form_label">Имя</label>
                                    <input type="text" id="contact_name_1" class="input" value name="contact_name_1" data-required_mark="required" data-filed_type="input" data-original_id="name" placeholder="Ваше имя" wfd-id="id1">
                                </p>
                                <p class="contact_field_2" data-id="email" data-type="input">
                                    <label for="contact_email_2" class="contact_form_label">Email Адрес</label>
                                    <input type="text" id="contact_email_2" class="input" value name="contact_email_2" data-required_mark="required" data-filed_type="input" data-original_id="email" placeholder="Ваш email" wfd-id="id1_2">
                                </p>
                                <p class="contact_field_3" data-id="message" data-type="input">
                                    <label for="contact_message_3" class="contact_form_label">Сообщение</label>
                                    <input type="text" id="contact_message_3" class="input" value name="contact_message_3" data-required_mark="required" data-filed_type="input" data-original_id="message" placeholder="Ваше сообщение" wfd-id="id1_3">
                                </p>
                                <input type="hidden" value="contact_proccess" name="contactform_submit_0" wfd-id="id2">
                                <div class="contact_bottom_container">
                                    <button type="submit" name="builder_submit_button" class="contact_submit_button">Отправить</button>
                                </div>
                                <input type="hidden" id="_wpnonce-contact-form-submitted-0" name="_wpnonce-contact-form-submitted-0" value="311eca000c" wfd-id="id3">
                                <input type="hidden" name="_wp_http_referer" value="/wordpress/divi/fitnessgym/" wfd-id="id4">

                            </form>
                        </div>
                    </div>

                </div>
                <div class="forma-2">
                    <div class="footer-blok">
                        <div class="footer-blokB">
                            <div class="footer-blok_1">
                                <h1 class="text_footer-blok_1"> ЧАСЫ ЗАНЯТИЙ </h1>
                                <p class="text_footer-blok_1_1">Понедельник-пятница:с 5:00 до 23:00 <br>
                                            Суббота: с 5:00 до 22:00 <br>
                                            Воскресенье: с 5.00 — 21.00 <br>
                                </p>
                            </div>
                            <div class="footer-blok_2">
                                <h1 class="text_footer-blok_2">БЕСПЛАТНЫЙ 3 ДНЕВНЫЙ АБОНЕМЕНТ В НАШУ СТУДИЮ</h1>
                                <a class="footer-button-blok_2_2" href="#regform">начать</a>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>


</body>
</html>