
<!DOCTYPE html>
{% load static %}
<html lang="ru-RU" class="js">
<head>
    <link rel="icon" href="{% static 'images/icon.png'%}">
    <meta charset="UTF-8">
    <title>SMI;)LE</title>
    <link href="/css/bootstrap.min.css" rel="style">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/prices.css'%}" type="text/css">
</head>
<body >
    <header class="header">
        <div class="container">
            <!--Блок с навигацией-->
            <div class=" header-nav">
                <a href="#!" class="logo"> Sm;)le </a>
                <nav class="nav">
                    <ul class="nav_list">
                        <li class="nav-item"><a href="#index.html" class="nav-link ">Главная</a> </li>
                        <li class="nav-item"><a href="#classes.html" class="nav-link">Классы</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link active" >Цены</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link">О нас</a> </li>
                        <li class="nav-item"><a href="#!" class="nav-link">Контакты</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="containerPrice">
        <div class="containerPrice_blok">
            <h1 class="containerPrice_text">Стоимость занятий</h1>
            <div class="containerPrice_B">
                <div class="containerPrice_B1">
                    <h1 class="text_z">Групповые тренировки</h1>
                    <p class="text-content">Разовая тренировка — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text_z_1">Абонементы на месяц:</p>
                    <p class="text-content">5 тренировок —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content">8 тренировок  —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content">12 тренировок —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content">Безлимитный —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text_z_1">Длительные абонементы*:</p>
                    <p class="text-content">30 тренировок на 3 месяца —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content">(+10 дней заморозки и 3 гостевых) </p>
                    <p class="text-content">*количество длительных абонементов может быть ограниченно </p>
                    <a class="button" href="#!"><p class="text-blok_1_1" >Подробнее</p></a>

                </div>
                <div class="containerPrice_B2">
                    <h1 class="text_z">Персональные тренировки</h1>
                    <p class="text_z_1">Тренировки для двоих:</p>
                    <p class="text-content_1">Разовая индивидуальная тренировка — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">5 тренировок на 30 дней —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">10 тренировок на 60 дней —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text_z_1">Дуэт</p>
                    <p class="text-content_1">Разовая —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">5 тренировок на 30 дней — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">10 тренировок на 60 дней — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text_z_1">Дуэт «Мама и дочка (7-16 лет)»</p>
                    <p class="text-content_1">Разовая —  <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">5 тренировок на 30 дней — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">10 тренировок на 60 дней — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <a class="button_1" href="#!"><p class="text-blok_1_1" >Подробнее</p></a>


                </div>
                <div class="containerPrice_B3">
                    <h1 class="text_z">Beauty procedures лица и тела</h1>
                    <p class="text_z_1">Абонементы на месяц:</p>
                    <p class="text-content_1">Массаж лица 55 мин —<span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">*техника или комбинация техник подбирается мастером исходя из ваших пожеланий</p>
                    <p class="text-content_1">Массаж (все тело) классика 55мин — <span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">Массаж шейно-воротниковой зоны 45 мин —<span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">Пилинг —<span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">*подбирается по вашему типу кожи</p>
                    <p class="text-content_1">Карбокситерапия —<span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">«Сияние кожи» —<span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <p class="text-content_1">Уходовая маска по типу кожи —<span style="color: #6BE6C8"><b><big>1000₽</big></b></span></p>
                    <a class="button" href="#!"><p class="text-blok_1_1" >Подробнее</p></a>

                </div>
            </div>
        </div>
    </div>

</body>
</html>