
<!DOCTYPE html>
{% load static %}
<html lang="ru-RU" class="js">
<head>
    <link rel="icon" href="{% static 'images/icon.png'%}">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/bootstrap.min.css" rel="style">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/prices.css'%}" type="text/css">
</head>
<body >
    <header class="header">
        <div class="container">
            <!--Блок с навигацией-->
            <div class=" header-nav">
                <label for="nav-toggle" class="nav-toggle" onclick></label>

                <input type="checkbox" id="nav-toggle" hidden>
                <h2 class="logo">
                    <a href="/index/" > Sm;)le </a>
                </h2>
                <nav class="nav">

                        <ul class="nav_list">


                                <li class="nav-item"><a href="/index/" class="nav-link active">Главная</a> </li>
                                <li class="nav-item"><a href="/classes/" class="nav-link">Классы</a> </li>
                                <li class="nav-item"><a href="/prices/" class="nav-link">Цены</a> </li>
                                <li class="nav-item"><a href="/o_nas/" class="nav-link">О нас</a> </li>
                                <li class="nav-item"><a href="/raspisanie/" class="nav-link">Расписание</a> </li>
                                <li class="nav-item"><a href="/reviews/" class="nav-link">Отзывы</a> </li>
                                <li class="nav-item"><a href="/kontact/" class="nav-link">Контакты</a> </li>

                        </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="containerPrice">
        <div class="containerPrice_blok">
            <h1 class="containerPrice_text">Стоимость занятий</h1>
            <div class="containerPrice_B">
                <div class="containerPrice_B1">
                    <h1 class="text_z">Групповые тренировки</h1>
                    <p class="text_z_1">Разовая тренировка — <span style="color: #6BE6C8"><b><big>1.500₽</big></b></span></p>
                    <p class="text_z_1">Абонементы на месяц:</p>
                    <p class="text-content_1">5 тренировок —  <span style="color: #6BE6C8"><b><big>4.190₽</big></b></span></p>
                    <p class="text-content_1">8 тренировок  —  <span style="color: #6BE6C8"><b><big>6.100₽</big></b></span></p>
                    <p class="text-content_1">12 тренировок —  <span style="color: #6BE6C8"><b><big>9.250₽</big></b></span></p>
                    <p class="text-content_1">Безлимитный —  <span style="color: #6BE6C8"><b><big>10.990₽</big></b></span></p>
                    <p class="text_z_1">Длительные абонементы*:</p>
                    <p class="text-content_1">30 тренировок на 3 месяца —  <span style="color: #6BE6C8"><b><big>21.900₽</big></b></span></p>
                    <p class="text-content_1">(+10 дней заморозки и 3 гостевых) </p>
                    <p class="text-content_1_1">*количество длительных абонементов может быть ограниченно </p>
                    <a class="js-open-modal" href="#" data-modal="1">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="1">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">Оставьте свои контакты</p>
                                <p class="modal__title_1">Наш администратор свяжется с вами в ближайшее время</p>

                                <div class="row">
                                    <div class="single-form-left">
                                        <!--contact form grid -->
                                        <div class="contact-single">
                                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                                <span class="sub-tittle editContent"
                                                      style="outline: none; cursor: inherit;"></span>

                                            <form action="{% url 'add_application' %}" method="post" class="mt-4">
                                            {% csrf_token %}
                                                <div class="d-sm-flex">
                                                <div class="col-sm-6 form-group p-0 editContent">
                                                    <label for="contactusername" class="editContent">
                                                        Ваше имя *
                                                    </label>
                                                    <input type="text" class="form-control_border" name="name"
                                                           id="contactusername" required="" placeholder="Как вас зовут?">
                                                </div>
                                                <div class="col-sm-6 form-group ml-sm-3 editContent">
                                                    <label for="contactphone" class="editContent">
                                                        Номер телефона *
                                                    </label>
                                                    <input type="phone" class="form-control_border" name="phone"
                                                           id="contactphone" required="" placeholder="Ваш номер телефона">
                                                </div>
                                            </div>



                                            <button type="submit"
                                                    class="mt-3 btn btn-success btn-block py-3">
                                                Отправить
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>

                </div>
                <div class="containerPrice_B2">
                    <h1 class="text_z">Персональные тренировки</h1>
                    <p class="text_z_1">Тренировки для двоих:</p>
                    <p class="text-content_1">Разовая индивидуальная тренировка — <span style="color: #6BE6C8"><b><big>1.500₽</big></b></span></p>
                    <p class="text-content_1">5 тренировок на 30 дней —  <span style="color: #6BE6C8"><b><big>10.600₽</big></b></span></p>
                    <p class="text-content_1">10 тренировок на 60 дней —  <span style="color: #6BE6C8"><b><big>20.400₽</big></b></span></p>
                    <p class="text_z_1">Дуэт</p>
                    <p class="text-content_1">Разовая —  <span style="color: #6BE6C8"><b><big>2.400₽</big></b></span></p>
                    <p class="text-content_1">5 тренировок на 30 дней — <span style="color: #6BE6C8"><b><big>12.750₽</big></b></span></p>
                    <p class="text-content_1">10 тренировок на 60 дней — <span style="color: #6BE6C8"><b><big>23.000₽</big></b></span></p>
                    <p class="text_z_1">Дуэт «Мама и дочка (7-16 лет)»</p>
                    <p class="text-content_1">Разовая —  <span style="color: #6BE6C8"><b><big>1950₽</big></b></span></p>
                    <p class="text-content_1">5 тренировок на 30 дней — <span style="color: #6BE6C8"><b><big>13.500₽</big></b></span></p>
                    <p class="text-content_1">10 тренировок на 60 дней — <span style="color: #6BE6C8"><b><big>18.450₽</big></b></span></p>
                    <a class="js-open-modal" href="#" data-modal="2">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="2">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">Оставьте свои контакты</p>
                                <p class="modal__title_1">Наш администратор свяжется с вами в ближайшее время</p>

                                <div class="row">
                                    <div class="single-form-left">
                                        <!--contact form grid -->
                                        <div class="contact-single">
                                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                                <span class="sub-tittle editContent"
                                                      style="outline: none; cursor: inherit;"></span>

                                            <form action="{% url 'add_application' %}" method="post" class="mt-4">
                                            {% csrf_token %}
                                                <div class="d-sm-flex">
                                                <div class="col-sm-6 form-group p-0 editContent">
                                                    <label for="contactusername" class="editContent">
                                                        Ваше имя *
                                                    </label>
                                                    <input type="text" class="form-control_border" name="name"
                                                           id="contactusername" required="" placeholder="Как вас зовут?">
                                                </div>
                                                <div class="col-sm-6 form-group ml-sm-3 editContent">
                                                    <label for="contactphone" class="editContent">
                                                        Номер телефона *
                                                    </label>
                                                    <input type="phone" class="form-control_border" name="phone"
                                                           id="contactphone" required="" placeholder="Ваш номер телефона">
                                                </div>
                                            </div>



                                            <button type="submit"
                                                    class="mt-3 btn btn-success btn-block py-3">
                                                Отправить
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>


                </div>
                <div class="containerPrice_B3">
                    <h1 class="text_z">Beauty procedures лица и тела</h1>
                    <p class="text_z_1">Абонементы на месяц:</p>
                    <p class="text-content_1">Массаж лица 55 мин —<span style="color: #6BE6C8"><b><big>1.100₽</big></b></span></p>
                    <p class="text-content_1">*техника или комбинация техник подбирается мастером исходя из ваших пожеланий</p>
                    <p class="text-content_1">Массаж (все тело) классика 55мин — <span style="color: #6BE6C8"><b><big>2.300₽</big></b></span></p>
                    <p class="text-content_1">Массаж шейно-воротниковой зоны 45 мин —<span style="color: #6BE6C8"><b><big>1.600₽</big></b></span></p>
                    <p class="text-content_1">Пилинг —<span style="color: #6BE6C8"><b><big>1.400₽</big></b></span></p>
                    <p class="text-content_1">*подбирается по вашему типу кожи</p>
                    <p class="text-content_1">Карбокситерапия —<span style="color: #6BE6C8"><b><big>1.200₽</big></b></span></p>
                    <p class="text-content_1">«Сияние кожи» —<span style="color: #6BE6C8"><b><big>3.000₽</big></b></span></p>
                    <p class="text-content_1__1">Уходовая маска по типу кожи —<span style="color: #6BE6C8"><b><big>500₽</big></b></span></p>
                     <a class="js-open-modal" href="#" data-modal="3">Подробнее</a>

                            <!-- Несколько модальных окон -->

                            <div class="modal" data-modal="3">

                               <!--   Svg иконка для закрытия окна  -->
                                <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                                <p class="modal__title">Оставьте свои контакты</p>
                                <p class="modal__title_1">Наш администратор свяжется с вами в ближайшее время</p>

                                <div class="row">
                                    <div class="single-form-left">
                                        <!--contact form grid -->
                                        <div class="contact-single">
                                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                                <span class="sub-tittle editContent"
                                                      style="outline: none; cursor: inherit;"></span>

                                            <form action="{% url 'add_application' %}" method="post" class="mt-4">
                                            {% csrf_token %}
                                                <div class="d-sm-flex">
                                                <div class="col-sm-6 form-group p-0 editContent">
                                                    <label for="contactusername" class="editContent">
                                                        Ваше имя *
                                                    </label>
                                                    <input type="text" class="form-control_border" name="name"
                                                           id="contactusername" required="" placeholder="Как вас зовут?">
                                                </div>
                                                <div class="col-sm-6 form-group ml-sm-3 editContent">
                                                    <label for="contactphone" class="editContent">
                                                        Номер телефона *
                                                    </label>
                                                    <input type="phone" class="form-control_border" name="phone"
                                                           id="contactphone" required="" placeholder="Ваш номер телефона">
                                                </div>
                                            </div>



                                            <button type="submit"
                                                    class="mt-3 btn btn-success btn-block py-3">
                                                Отправить
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Подложка под модальным окном -->
                            <div class="overlay js-overlay-modal"></div>

                </div>
            </div>
        </div>
    </div>

<a href="#" title="Вернуться к началу страницы" class="topNubex">➱</a>
<script>
!function(e){"function"!=typeof e.matches&&(e.matches=e.msMatchesSelector||e.mozMatchesSelector||e.webkitMatchesSelector||function(e){for(var t=this,o=(t.document||t.ownerDocument).querySelectorAll(e),n=0;o[n]&&o[n]!==t;)++n;return Boolean(o[n])}),"function"!=typeof e.closest&&(e.closest=function(e){for(var t=this;t&&1===t.nodeType;){if(t.matches(e))return t;t=t.parentNode}return null})}(window.Element.prototype);


document.addEventListener('DOMContentLoaded', function() {

   /* Записываем в переменные массив элементов-кнопок и подложку.
      Подложке зададим id, чтобы не влиять на другие элементы с классом overlay*/
   var modalButtons = document.querySelectorAll('.js-open-modal'),
       overlay      = document.querySelector('.js-overlay-modal'),
       closeButtons = document.querySelectorAll('.js-modal-close');


   /* Перебираем массив кнопок */
   modalButtons.forEach(function(item){

      /* Назначаем каждой кнопке обработчик клика */
      item.addEventListener('click', function(e) {

         /* Предотвращаем стандартное действие элемента. Так как кнопку разные
            люди могут сделать по-разному. Кто-то сделает ссылку, кто-то кнопку.
            Нужно подстраховаться. */
         e.preventDefault();

         /* При каждом клике на кнопку мы будем забирать содержимое атрибута data-modal
            и будем искать модальное окно с таким же атрибутом. */
         var modalId = this.getAttribute('data-modal'),
             modalElem = document.querySelector('.modal[data-modal="' + modalId + '"]');


         /* После того как нашли нужное модальное окно, добавим классы
            подложке и окну чтобы показать их. */
         modalElem.classList.add('active');
         overlay.classList.add('active');
      }); // end click

   }); // end foreach


   closeButtons.forEach(function(item){

      item.addEventListener('click', function(e) {
         var parentModal = this.closest('.modal');

         parentModal.classList.remove('active');
         overlay.classList.remove('active');
      });

   }); // end foreach


    document.body.addEventListener('keyup', function (e) {
        var key = e.keyCode;

        if (key == 27) {

            document.querySelector('.modal.active').classList.remove('active');
            document.querySelector('.overlay').classList.remove('active');
        };
    }, false);


    overlay.addEventListener('click', function() {
        document.querySelector('.modal.active').classList.remove('active');
        this.classList.remove('active');
    });




}); // end ready
</script>
</body>
</html>