<!DOCTYPE html>
{% load static %}

<html lang="ru-RU" class="js" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" href="{% static 'images/icon.png'%}">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/bootstrap.min.css" rel="style">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/raspisanie.css'%}" type="text/css">


</head>
<body >
    <header class="header">
        <div class="container">
            <!--Блок с навигацией-->
            <div class=" header-nav">
                <label for="nav-toggle" class="nav-toggle" onclick></label>

                <input type="checkbox" id="nav-toggle" hidden>
                <h2 class="logo">
                    <a href="/index/" > Sm;)le </a>
                </h2>
                <nav class="nav">

                        <ul class="nav_list">


                                <li class="nav-item"><a href="/index/" class="nav-link active">Главная</a> </li>
                                <li class="nav-item"><a href="/classes/" class="nav-link">Классы</a> </li>
                                <li class="nav-item"><a href="/prices/" class="nav-link">Цены</a> </li>
                                <li class="nav-item"><a href="/o_nas/" class="nav-link">О нас</a> </li>
                                <li class="nav-item"><a href="/raspisanie/" class="nav-link">Расписание</a> </li>
                                <li class="nav-item"><a href="/reviews/" class="nav-link">Отзывы</a> </li>
                                <li class="nav-item"><a href="/kontact/" class="nav-link">Контакты</a> </li>

                        </ul>

                </nav>
            </div>
        </div>
    </header>

   <!-- <div class="Ssuccess">
        {% for i in peopless %}
            <p>{{ i.week }}</p>
            <p>{{ i.time }}</p>
            <p>{{ i.train }}</p>

        {% endfor %}
    </div>-->


    <div class="button_container">
        <div class="button_text">
            <p class="button_text1">Для того чтобы узнать расписание на интересующий вас день, пожалуйста, нажмите на кнопку.</p>
            <p class="button_text1_1"> <img class="text-blok4" src="{% static 'images/classesimg/с_з.png'%}">
            <img class="text-blok4" src="{% static 'images/classesimg/с_ч.png'%}">
            <img class="text-blok4" src="{% static 'images/classesimg/с_з.png'%}">
            <img class="text-blok4" src="{% static 'images/classesimg/с_ч.png'%}">
            <img class="text-blok4" src="{% static 'images/classesimg/с_з.png'%}"></p>
        </div>
        <a href="{% url 'week_filter' pk=7 %}"><button class="js-open-modal" data-modal="1">ВСК</button></a>

    <!-- Несколько модальных окон-->

    <div class="modal" data-modal="1">

        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">

                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>


    <a href="{% url 'week_filter' pk=1 %}"><button class="js-open-modal" data-modal="2">ПН</button></a>

    <!- Несколько модальных окон -->

    <div class="modal" data-modal="2">
        <!-   Svg иконка для закрытия окна  -->
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">
<li> <p1 class="p1">{{ i.week }}</p1></li>
                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>


    <a href="{% url 'week_filter' pk=2 %}"><button class="js-open-modal" data-modal="3">ВТ</button></a>



    <div class="modal" data-modal="3">

        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">
<li> <p1 class="p1">{{ i.week }}</p1></li>
                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>



    <a href="{% url 'week_filter' pk=3 %}"><button class="js-open-modal" data-modal="4">СР</button></a>



    <div class="modal" data-modal="4">

        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">
<li> <p1 class="p1">{{ i.week }}</p1></li>
                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>

    <a href="{% url 'week_filter' pk=4 %}"><button class="js-open-modal" data-modal="5">ЧТ</button></a>





    <div class="modal" data-modal="5">

        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">
<li> <p1 class="p1">{{ i.week }}</p1></li>
                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>


    <a href="{% url 'week_filter' pk=5 %}"><button class="js-open-modal" data-modal="6">ПТ</button></a>



    <div class="modal" data-modal="6">

        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">
<li> <p1 class="p1">{{ i.week }}</p1></li>
                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>


    <a href="{% url 'week_filter' pk=6 %}"><button class="js-open-modal" data-modal="7">СБ</button></a>





    <div class="modal" data-modal="7">

        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modal__title">
            {% for i in week %}
                <div class="c">  </div>
                <ul class="week">
                    <li> <p1 class="p1">{{ i.week }}</p1></li>
                    <li> <p1 class="p1">{{ i.time }}</p1></li>
                    <li> <p2 class="p1">{{ i.train }}</p2></li>
                    <li> <p4 class="p1">{{ i.FIO }}</p4></li>
                    <br>
                </ul>
            {% endfor %}

        </p>
    </div>


    <div class="overlay js-overlay-modal"></div>

       <!-- <a href="{% url 'week_filter' pk=7 %}"><button class="button" onclick='myFunction()'>ВСК</button></a>
        <a href="{% url 'week_filter' pk=1 %}"><button class="button" onclick='myFunction()'>ПН</button></a>
        <a href="{% url 'week_filter' pk=2 %}"><button class="button" onclick='myFunction()'>ВТ</button></a>
        <a href="{% url 'week_filter' pk=3 %}"><button class="button" onclick='myFunction()'>СР</button></a>
        <a href="{% url 'week_filter' pk=4 %}"><button class="button" onclick='myFunction()'>ЧТ</button></a>
        <a href="{% url 'week_filter' pk=5 %}"><button class="button" onclick='myFunction()'>ПТ</button></a>
        <a href="{% url 'week_filter' pk=6 %}"><button class="button" onclick='myFunction()'>СБ</button></a>-->
    </div>

     <div class="calendar-container">
        <header class="calendar-header">
            <p class="calendar-current-date"></p>
            <div class="calendar-navigation">
                <span id="calendar-prev"
                      class="material-symbols-rounded">
                    <
                </span>
                <span id="calendar-next"
                      class="material-symbols-rounded">
                    >
                </span>
            </div>
        </header>

        <div class="calendar-body">
            <ul class="calendar-weekdays">
                <li>ВСК</li>
                <li>ПН</li>
                <li>ВТ</li>
                <li>СР</li>
                <li>ЧТ</li>
                <li>ПТ</li>
                <li>СБ</li>
            </ul>
            <ul class="calendar-dates"></ul>
        </div>
    </div>





<script>
document.getElementById('myButton').onclick = myFunction;
function myFunction() {
  alert(

      '{% if week %}\n' +
      '        {% for i in week %}\n' +
      '            {{ i.time }}\n' +
      '            {{ i.train }}\n' +
      '            {{ i.title }}\n' +
      '            {{ i.FIO }}\n' +

      '        {% endfor %}\n' +
      '{% else %}\n' +
      '        Нет записей  \n' +
      '{% endif %}\n'
          );

}
</script>

<script>
let date = new Date();
let year = date.getFullYear();
let month = date.getMonth();

const day = document.querySelector(".calendar-dates");

const currdate = document
    .querySelector(".calendar-current-date");

const prenexIcons = document
    .querySelectorAll(".calendar-navigation span");

// Array of month names
const months = [
    "Январь",
    "Февраль",
    "Март",
    "Апрель",
    "Май",
    "Июнь",
    "Июль",
    "Август",
    "Сентябрь",
    "Октябрь",
    "Ноябрь",
    "Декабоь"
];

// Function to generate the calendar
const manipulate = () => {

    // Get the first day of the month
    let dayone = new Date(year, month, 1).getDay();

    // Get the last date of the month
    let lastdate = new Date(year, month + 1, 0).getDate();

    // Get the day of the last date of the month
    let dayend = new Date(year, month, lastdate).getDay();

    // Get the last date of the previous month
    let monthlastdate = new Date(year, month, 0).getDate();

    // Variable to store the generated calendar HTML
    let lit = "";

    // Loop to add the last dates of the previous month
    for (let i = dayone; i > 0; i--) {
        lit +=
            `<li class="inactive">${monthlastdate - i + 1}</li>`;
    }

    // Loop to add the dates of the current month
    for (let i = 1; i <= lastdate; i++) {

        // Check if the current date is today
        let isToday = i === date.getDate()
            && month === new Date().getMonth()
            && year === new Date().getFullYear()
            ? "active"
            : "";
        lit += `<li class="${isToday}">${i}</li>`;
    }

    // Loop to add the first dates of the next month
    for (let i = dayend; i < 6; i++) {
        lit += `<li class="inactive">${i - dayend + 1}</li>`
    }

    // Update the text of the current date element
    // with the formatted current month and year
    currdate.innerText = `${months[month]} ${year}`;

    // update the HTML of the dates element
    // with the generated calendar
    day.innerHTML = lit;
}

manipulate();

// Attach a click event listener to each icon
prenexIcons.forEach(icon => {

    // When an icon is clicked
    icon.addEventListener("click", () => {

        // Check if the icon is "calendar-prev"
        // or "calendar-next"
        month = icon.id === "calendar-prev" ? month - 1 : month + 1;

        // Check if the month is out of range
        if (month < 0 || month > 11) {

            // Set the date to the first day of the
            // month with the new year
            date = new Date(year, month, new Date().getDate());

            // Set the year to the new year
            year = date.getFullYear();

            // Set the month to the new month
            month = date.getMonth();
        }

        else {

            // Set the date to the current date
            date = new Date();
        }

        // Call the manipulate function to
        // update the calendar display
        manipulate();
    });
});
</script>


<script>
!function(e){"function"!=typeof e.matches&&(e.matches=e.msMatchesSelector||e.mozMatchesSelector||e.webkitMatchesSelector||function(e){for(var t=this,o=(t.document||t.ownerDocument).querySelectorAll(e),n=0;o[n]&&o[n]!==t;)++n;return Boolean(o[n])}),"function"!=typeof e.closest&&(e.closest=function(e){for(var t=this;t&&1===t.nodeType;){if(t.matches(e))return t;t=t.parentNode}return null})}(window.Element.prototype);


document.addEventListener('DOMContentLoaded', function() {

   /* Записываем в переменные массив элементов-кнопок и подложку.
      Подложке зададим id, чтобы не влиять на другие элементы с классом overlay*/
   var modalButtons = document.querySelectorAll('.js-open-modal'),
       overlay      = document.querySelector('.js-overlay-modal'),
       closeButtons = document.querySelectorAll('.js-modal-close');


   /* Перебираем массив кнопок */
   modalButtons.forEach(function(item){

      /* Назначаем каждой кнопке обработчик клика */
      item.addEventListener('click', function(e) {

         /* Предотвращаем стандартное действие элемента. Так как кнопку разные
            люди могут сделать по-разному. Кто-то сделает ссылку, кто-то кнопку.
            Нужно подстраховаться. */
         e.preventDefault();

         /* При каждом клике на кнопку мы будем забирать содержимое атрибута data-modal
            и будем искать модальное окно с таким же атрибутом. */
         var modalId = this.getAttribute('data-modal'),
             modalElem = document.querySelector('.modal[data-modal="' + modalId + '"]');


         /* После того как нашли нужное модальное окно, добавим классы
            подложке и окну чтобы показать их. */
         modalElem.classList.add('active');
         overlay.classList.add('active');
      }); // end click

   }); // end foreach


   closeButtons.forEach(function(item){

      item.addEventListener('click', function(e) {
         var parentModal = this.closest('.modal');

         parentModal.classList.remove('active');
         overlay.classList.remove('active');
      });

   }); // end foreach


    document.body.addEventListener('keyup', function (e) {
        var key = e.keyCode;

        if (key == 27) {

            document.querySelector('.modal.active').classList.remove('active');
            document.querySelector('.overlay').classList.remove('active');
        };
    }, false);


    overlay.addEventListener('click', function() {
        document.querySelector('.modal.active').classList.remove('active');
        this.classList.remove('active');
    });




}); // end ready
</script>

</body>
</html>