@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header{
    padding-top: 20px;
    background-color: white;
}


.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}

.logo{
    position: relative;
    padding: 0 12px 3px 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}

.logo::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: aquamarine;
    border-radius: 50%;
}

/Навигация/



ul.nav_list {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    font-weight: 500;
    font-size: 50px;
}
ul.nav_list li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */

}

.nav-link{
    color: #2A2B2B;
    mix-blend-mode: multiply;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    transition: opacity 0.2s ease-in;

}

.nav-link.active_a{
    color: #606060;
}


.nav-link:active{

    position: relative;
    top: 1px;
}

.nav-link:hover{
    opacity: 0.8;
}


/*/////////////////////////////*/
.text-content{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 60px;
    padding-top: 60px;
}

.contact_cont{
    display: flex;
}

.contact_text {
    margin: 100px auto;
}


.whatwe{

    margin: 100px auto;
    background-color: #bbefe3;
}
.whatwe_content{
    display: flex;
}

.whatwe_content_foto{
    width: 600px;
    height: 500px;
    margin: auto 70px 0 100px;
}

.whatwe_content_text_text{
    width: 600px;
    height: 200px;
    transform: translateY(60px);
}

.whatwe_content_text_z{
    padding-bottom: 30px;

    font-size: 30px;
    font-weight: 600;
    color: #2A2B2B;
}

.whatwe_content_text_c{
    font-size: 20px;
    color: #2A2B2B;
}

.whatwe_content_1{
    display: flex;
    margin: auto 70px 0 100px;
}

.whatwe_content_text_z_1{
    padding-bottom: 30px;

    font-size: 25px;
    font-weight: 600;
    color: #2A2B2B;

}

.containerOnas_blok{
    background-color: #bbefe3;
}


@media (max-width: 768px) {
   /* показываем кнопку для переключения верхней навигации */
   .contact_text {
    margin: 730px -550px;
    }
}


@media (max-width: 468px) {
   /* показываем кнопку для переключения верхней навигации */
   .contact_text {
    margin: 730px -550px;
    }
}
